@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Відділ ДАІ</title>
</head>
<body>
    <div>
        <h3>Регестрація ДТП</h3>
        <table>
            <tr>
                <td><p>Назва ДТП </p></td>
                <td><p>Тип порушення </p></td>
                <td><p>Розмір штарфу </p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Dtps)
            {
            <tr>
                <td><p> @b.Name </p></td>
                <td><p> @b.Type </p></td>
                <td><p> @b.Price </p></td>
                <td><p> <a href="/Shtraf/Shtraf/@b.Id"> Оформити</a></p></td>
                <td><p><a href="/Home/Edit/@b.Id">Редагувати</a></p></td>
                <td><p><a href="/Home/Delete/@b.Id">Видалити</a></p></td>
            </tr>
            }
        </table>
    </div>
</body>
</html>
